body{
    background: #ebe9e5;
}
.vody div{
    
} 

.container img{
    width: 100px;
    height: 80px;
   

}
.container{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

}
.container h3{
    text-align: center;

}
.Map div{
  margin: 0px auto;
}
h1{
    text-align: center;
}